<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charaset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script>   
        $(function(){
            $("img#sekiro").mouseover(function(){
                $("img").attr("src","{% static 'sekiro2.jpeg' %}").attr("alt","義手忍具");
            });
            $("img#sekiro").mouseout(function(){
                $("img").attr("src","{% static 'sekiro1.jpeg' %}").attr("alt","侍大将");
            });
            $("img#sekiro").mousemove(function(event){
                $("#point").html("x : "+event.clientX+"<br>y : "+event.clientY);
            });
            $("#address").click(function(){
                $("h3").text($("input").val()+"にメールを送信します");
                $("#address").text("送信");
            });
            $("#clear").click(function(){
                $("input").val("");
            });
            $("#name").val("名前を入力してください").css("color","#ccc")
                      .one("focus",function(){
                          $(this).val("").css("color","#000");
                      }).blur(function(){
                          if($(this).val()==""){
                              $(this).val("名前を入力してください").css("color","#ccc")
                              .one("focus",function(){
                                  $(this).val("").css("color","#000")
                              });
                          }
                      });
            $("select").change(function(){
                $("strong").text($(this).val());
            });
            
        });
    </script>
</head>
<body style="background-color: rgb(36, 99, 150);">
    {% load static %}
    <img src="{% static 'sekiro1.jpeg' %}" alt="侍大将" id="sekiro" />
    <p id="point"></p>
    <h3>mail address<input type="text" name="address"></h3>
    <button id="address">verify</button>
    <button id="clear">clear</button>
    <input id="name"></input>
    <select>
        <option value="お名前">個人</option>
        <option value="会社名">法人</option>
    </select>
    <p><strong>お名前</strong><input type="text" name="name"></p>
</body>
</html>